.heather{
    text-align: center;
    
    font-weight: 200;
}
h4 {
    text-align: center;
}
li {
    list-style: none;
    text-transform: capitalize;
    
}
.weather-app-wrapper {
    max-width: 660px;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);;
    padding-right: 0;
     
}
#form-input {
    border-radius: 4px;
}



#left-col {
    max-width: 205px;
    text-align: center;
}
.current-city {
   position: relative;
    font-size: 25px;
}
    
.condition {
    margin-top: 8px;
    position: relative;
    
}
#icon {
    display: block;
    margin: 0 auto;
    position: relative;
    size: 24px;
    
    
    
    
    
}
.description {
    
    text-align: center;
    
    margin-top: 5px;
    text-transform: capitalize;
    font-weight: normal;
}
.temperature strong {
    font-size: 45px;
    margin-left: 55px;
    font-weight: normal;
    
  
}
.units {
    position: relative;
    font-size: 15px;
    top: -22px;
}

.col-5 {
   padding-right: 0;
    
}
.cels {
    margin-left: 0;
    padding: 0;
}
.day-forecast {
    text-align: center;
    font-size: 26px;
    margin-bottom: 5px;
    font-weight: lighter;
}

.col-sm-2 {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    border: 1px solid lightslategray;
}
.next-day {
    font-size: 16px;
    margin-left: 0px;
    text-align: center;
    margin-top: 10px;
}

.units.active {
    color: black;
    cursor: default;
}
.units.active :hover {
    color: blue;
    text-decoration: none;
}

.weather-icon img {
    
    display: block;
    margin: 0 auto;
    height: 50;
    width: 60;
   
    
}


.forecast-temp {
   margin-left: 10px;
   text-align: center;
    

}
.forecast-units {
    text-align: center;
    position: relative;
    margin-left: 0;
    padding-left: 0;
}

.btn-success {
    margin-left: 15px;
}
i {
    margin-left: 0;
    padding-left: 0 ;
    
}
.container {
    padding: 0;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}
    
