.heather{
    text-align: center;
    color: aqua;
    font-weight: 200;
}
h4 {
    text-align: center;
}
li {
    list-style: none;
    text-transform: capitalize;
    
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);;
     
}
#form-input {
    border-radius: 4px;
}



#left-col {
    max-width: 205px;
    text-align: center;
}
.current-city {
   position: relative;
    font-size: 25px;
}
    
.condition {
    margin-top: 8px;
    position: relative;
    
}
#icon {
    
    font-size: 30px;
    position: relative;
    color: yellow;
    text-align: center;
    
    
    
}
.description {
    
    text-align: center;
    
    margin-top: 5px;
    text-transform: capitalize;
    font-weight: normal;
}
.temperature strong {
    font-size: 45px;
    margin-left: 55px;
    font-weight: normal;
    
  
}
.units {
    position: relative;
    font-size: 15px;
    top: -22px;
}

.col-5 {
   margin-left: 100px;

}
.cels {
    margin-left: 0;
    padding: 0;
}
.day-forecast {
    text-align: center;
    font-size: 26px;
    margin-bottom: 5px;
    font-weight: lighter;
}

.col-2 {
    text-align: center;
}
.next-day {
    margin-left: 25px;
    font-size: 16px;
}

#weather-icon {
    font-size: 15px;
}

.forecast-temp {
   margin-left: 30px;
    

}
.forecast-units {
    position: relative;
}     
    
